input[id='searchbox'] {
  border: 0.2rem solid #e0e0e0;
  border-radius: 16px;
  margin: 1.1rem 1.1rem;
}

button[id='filter-button'] {
  border: 0.2rem solid #e0e0e0;
  border-radius: 16px;
  margin: 1.1rem 1.1rem;
}

#root {
  height: 96vh;
}